/* CSS Document */
body{padding:0px; margin:0px; background:#fff; color:#616161; font:10px/14px Tahoma, sans-serif;}
div, p, ul, h2, h3, h4, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

.clear {clear: both; margin: 0px; height:0}

p a{font:10px/14px Tahoma, sans-serif; color:#868e36; text-decoration:underline;}
p a:hover{ color:#868e36; text-decoration:none;}

.headline{font:10px/14px Tahoma, Geneva, sans-serif; color:#868e36; font-weight:bold}
.headline2{font:10px/14px Tahoma, Geneva, sans-serif; color:#9d1263; font-weight:bold}

#container{width:685px; position:relative; margin:0 auto;}

/* top */

#topLine{width:685px; height:14px; background:#e9e9e9;}

/* logo*/

#logoPan{width:685px; height:92px; position:relative}

#logoPan img#logo{position:absolute; top:0; left:19px}
#logoPan img#slogan{position:absolute; top:25px; left:376px}

/* menu */

#menuPan{width:685px; height:38px; background:#f8dae8; position:relative;}

#menuPan ul.menu{position:absolute; top:12px; left:33px; width:640px}
#menuPan ul.menu li{height:16px; margin-right:28px; float:left}
#menuPan ul.menu li a{height:16px; display:block; text-indent:-20000px; }
#menuPan ul.menu li a:hover{height:16px;}

#menuPan ul.menu li.btn_1 a{width:78px; background:url(../images/btn_1.gif) 0 0 no-repeat; }
#menuPan ul.menu li.btn_1 a:hover{width:78px; background:url(../images/btn_1_over.gif) 0 0 no-repeat;}

#menuPan ul.menu li.btn_2 a{width:68px; background:url(../images/btn_2.gif) 0 0 no-repeat; }
#menuPan ul.menu li.btn_2 a:hover{width:68px; background:url(../images/btn_2_over.gif) 0 0 no-repeat;}

#menuPan ul.menu li.btn_3 a{width:75px; background:url(../images/btn_3.gif) 0 0 no-repeat; }
#menuPan ul.menu li.btn_3 a:hover{width:75px; background:url(../images/btn_3_over.gif) 0 0 no-repeat;}

#menuPan ul.menu li.btn_4 a{width:64px; background:url(../images/btn_4.gif) 0 0 no-repeat; }
#menuPan ul.menu li.btn_4 a:hover{width:64px; background:url(../images/btn_4_over.gif) 0 0 no-repeat;}
